/* style.css */
body{
  background: rgb(245,245,245);
  color: purple;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: black;
  font-size: 10px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
}
a:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}
#banner{
  text-align: center;
  background-image: url("images/banner.jpg");
  background-size: cover;
  padding: 150px;
  color: white;
}
#banner h1 {
  color: black;
  font-size: 50px;
}
#banner p {
  color: black;
  font-size: 30px;

}
#footer{
  text-align: center;
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.card{
  text-align: center;
  padding: 50px;
  font-weight: lighter;
}
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}

.button {
  border-radius: 4px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 10px 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}